@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  background: url(../img/back.jpg) no-repeat;
  background-size: cover;
  font: 14px Helvetica;
  color: #fff;
}
nav{
  padding-left: 510px;
  height: 36px;
  background-image: url(../img/nav.png);
}
li{
    float: left;
    padding-right: 14px;
}
a{
  display: block;
  padding: 10px;
  line-height: 16px;
  color: #60b5ed;
}
a:hover{
  background: #4eabda;
  color: white;
}
.menu li{
  margin-top: 5px;
  height: 27px;
}
.menu li:first-child{
  border-left: 1px solid #56a2dc;
}
.menu img{
  float: left;
  margin: -4px 11px;
}
.menu .right{
  border: 1px solid #4eabda;
  height: 15px;
  margin-top: -6px;
  margin-left: -1px;
  width: 171px;
  background: linear-gradient(to top, #2f7bc5, #4daada);
}
.menu a{
  margin-top: -5px;
  height: 14px;
  width: 150px;
  color: white;
}
.menu a:hover{
  background: linear-gradient(to top, #2f7bc5, #4daada);
  border: 1px solid #4eabda;
  height: 15px;
  margin: -6px -1px 0;
}
nav span{
  text-decoration: underline;
}
nav span:hover{
  text-decoration: none;
}
main{
  margin: 17% auto;
  width: 555px;
}
h1{
  font-size: 24px;
  padding: 20px 100px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: normal;
  background: rgba(10, 15, 20, 0.65);
}
form{
  padding: 20px;
  text-align: center;
  background: rgba(10, 15, 20, 0.65);
  color: #ccc;
}
button{
  height: 35px;
  width: 260px;
  padding-top: 0px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to top, #31447c, #3c5598);
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(120,137,183,0.5);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(120,137,183,0.5);
  box-shadow: inset 0px 2px 0px 0px rgba(120,137,183,0.5);
  font-size: 15px;
  font-weight: 800;
  line-height: 32px;
  font-stretch: semi-condensed;
  color: #fff;
  cursor: pointer;
}
.log{
  display: inline-block;
  height: 35px;
  padding-left: 36px;
  border-left: 1px solid #4d65a3;
}
.f{
  display: inline-block;
  float: left;
  height: 35px;
  padding: 0 15px 0 10px;
  font-size: 26px;
  border-right: 1px solid #203a75;
}
.with{
  font-weight: 400;
  font-stretch: normal;
}
.arrow{
  display: inline-block;
  float: right;
  padding: 0 20px;
}
.line:after{
    content: '';
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 1px;
    background: #666;
    border-bottom: 1px solid #000;
}
.line:before{
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 1px;
    background: #666;
    border-bottom: 1px solid #000;
}
div{
  padding: 10px;
}
input[type="text"], [type="email"], [type="password"]{
  height: 35px;
  width: 260px;
  padding-left: 20px;
  border: none;
  background: linear-gradient(to top, #0e0e0e, #111);
  color: #ccc;
}
.transform:hover{
  border: 1px solid #689bcc;
  margin: -1px;
}
.transform:focus{
  height: 33px;
  width: 258px;
  background: #1b5288;
  outline: none;
  -webkit-box-shadow: inset 0px 7px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 7px 8px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 7px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 9px  5px rgba(70,126,199,0.5);
  -moz-box-shadow: 0px 0px 9px 5px rgba(70,126,199,0.5);
  box-shadow: 0px 0px 9px 5px rgba(70,126,199,0.5);
}
.check{
  text-align: left;
  padding-left: 117px;
}
label{
  vertical-align: 2px;
}
input[type="submit"]{
  height: 36px;
  width: 150px;
  border: 1px solid #65a8e4;
  border-radius: 3px;
  background: linear-gradient(to top, #2e7ac4, #4ca9d9);
  -webkit-box-shadow: inset 0px 3px 3px 0px rgba(103,198,230,0.5);
  -moz-box-shadow: inset 0px 3px 3px 0px rgba(103,198,230,0.5);
  box-shadow: inset 0px 3px 3px 0px rgba(103,198,230,0.5);
  color: #fff;
  cursor: pointer
}
footer{
  padding-top: 10px;
  line-height: 0px;
  font-size: 11px;
}
p{
  line-height: 17px;
}
