section{
  background: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 0 100px;
  color: #e6e6e6;
  font-size: 15px;
  font-family: Tahoma;
}
header{
  height: 14%;
  padding: 0 5%;
}
header>img{
  float: left;
  margin-left: 12%;
  height: 170px;
  color: #2d2d2d;
}
header figure{
  position: absolute;
  z-index: 1;
  margin-top: 7%;
  float: left;
}
p{
  padding-top: 7px;
  display: block;
  font-size: 10px;
}
.contacts{
  float: right;
  position: relative;
  overflow: hidden;
  margin: 10% 2% 0;
}
.main{
  padding: 0 4%;
  clear: both;
}
main figure{
  float: left;
  text-align: center;
  margin: 0 1% 11%;
}
main figure img {
  height: 220px;
  border: 2px solid #878787;
  }
  figcaption{
    text-align: center;
  }
  footer{
    padding: 15% 0 4%;
    clear: both;
    text-align: center;
  }
