section{
  background: url(../img/back.jpg);

  background-size: cover;
  background-position: center bottom;
  height: 1150px;
  color: #e6e6e6;
  font-size: 15px;
  font-family: Tahoma;
  padding: 0 100px;
}
header{
  height: 190px;
  padding: 0 5%;
}
header>img{
  position: absolute;
  z-index: 2;
  float: left;
  margin-right: 130px;
  height: 190px;
}
header figure{
  position: absolute;
  z-index: 1;
  margin-top: 117px;
  float: left;
}
p{
  padding-top: 7px;
  display: block;
  font-size: 10px;
}
.contacts{
  float: right;
  position: relative;
  overflow: hidden;
  margin-top: 120px;
}
.main{
  clear: both;
}
main figure{
  float: left;
  text-align: center;
  margin: 0 5% 10%;
}
main figure img {
  border: 2px solid #878787;
  }
  figcaption{
    text-align: center;
  }
  footer{
    padding-top: 250px;
    clear: both;
    text-align: center;
  }
