body {
  background-color: #e8e8e8;
  color: #333;
  font-family: "Arial";
  font-weight: 700;
}
.wrap {
  position: relative;
  margin: 5% auto;
  max-width: 400px;
  min-width: 320px;
  background: #fff;
  border-top: 2px solid #f00;
  box-shadow: 0 2px 0px 0px rgba(120,137,183,0.5);
}
.close {
  position: absolute;
  width: 25px;
  height: 20px;
  right: 10px;
  top: 5px;
  background-image: url("../svg.png");
}
.header {
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}
.container {
  padding: 20px 50px;
  background: #f3f3f3;
}
.container_right {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 10px 0;
}
.container_right_input {
  padding: 5px;
  width: 100%;
  height: 22px;
  border: 1px solid #ddd;
}
.container_right_label {
  line-height: 2;
  font-size: 14px;
}
.container_right_login {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background-color: #252525;
  max-width: 100px;
  width: 30%;
  height: 40px;
  cursor: pointer;
}
.container_right_login:hover {
  background: #666;
}
.container_right_check {
  display: block;
  line-height: 4;
  cursor: pointer;
}
.container_right_regular-checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #cacece;
  padding: 6px;
  margin: -2px 3px;
  border-radius: 3px;
  position: relative;
}
.container_right_regular-checkbox:checked {
  background-color: #3b99fc;
  border: 1px solid #adb8c0;
  color: #99a1a7;
}
.container_right_regular-checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: -1px;
  left: 2px;
  color: #fff;
}
.container_right_help {
  float: right;
  color: #000;
  font-size: 14px;
  line-height: 3;
}
.container_right_help:hover {
  text-shadow: 0px 0px 1px #000;
}
.container_left_button {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-image: url("../svg.png");
  background-repeat: no-repeat;
}
.facebook {
  background-color: #3e5b96;
  background-position: 8px -32px;
}
.facebook:hover {
  background-color: #385388;
}
.google {
  background-color: #dd5342;
  background-position: 8px -73px;
}
.google:hover {
  background-color: #cd4c3c;
}
.footer {
  padding: 20px 50px;
  font-size: 18px;
  color: #666;
  font-weight: 400;
}
.footer__link {
  font-weight: 700;
  color: #000;
}
.helloMessage {
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 111;
  font-size: 9vw;
}
@media screen and (min-width: 670px) {
  .wrap {
    max-width: 800px;
    min-width: 670px;
  }
  .container {
    overflow: hidden;
  }
  .container_left {
    width: 40%;
  }
  .container_right {
    border-left: 1px solid #ccc;
    border-bottom: 0;
    padding: 0 0 0 9%;
    margin: 0;
    float: right;
    width: 40%;
  }
  .footer {
    text-align: center;
  }
}
